<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <title>baboon.rocks</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/sticky-footer.css"/>
  </head>
  <body>
    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">baboon.rocks</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!ibanCalc"><i class="fa fa-home"></i> IBAN Rechner</a></li>
            </ul>
        </div>
        </nav>
    </header>

    <div class="container" ng-view>
    <!-- Content provided by Angular and ngRoutes-->  
    </div>
    
    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          <a href="impressum.html">Impressum</a>
          Version <%= version %>
        </p>
      </div>
    </footer>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

    <script type="text/javascript" src="/index/index.client.module.js"></script>
    <script type="text/javascript" src="/index/config/index.client.routes.js"></script>

      <script type="text/javascript" src="/ibanCalc/ibanCalc.client.module.js"></script>
      <script type="text/javascript" src="/ibanCalc/controllers/ibanCalc.client.controller.js"></script>
      <script type="text/javascript" src="/ibanCalc/config/ibanCalc.client.routes.js"></script>

    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
